<!DOCTYPE html>
<html>
<head>
    <title>NHL Standings</title>
    <link rel='stylesheet' href='https://unpkg.com/@primer/css@^20.2.4/dist/primer.css'>
    <style>
        @media screen and (max-width: 600px) {
          .mobile-hidden {
             display: none;
          }
          .no-fan-name {
             display: none;
          }
       }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class='m-2' data-color-mode='auto' data-light-theme='light' data-dark-theme='dark_dimmed'>
    <h1 class='color-fg-success'>Hockey Team Standings</h1>
    <table class='color-shadow-large'>
        <thead class='color-bg-accent-emphasis color-fg-on-emphasis mr-1'>
            <tr>
                <th scope='col' class='p-2 border'>Team</th>
                <th scope='col' class='p-2 border'>Fan</th>
                <th scope='col' class='p-2 border'>Wins</th>
                <th scope='col' class='p-2 border'>Losses</th>
                <th scope='col' class='p-2 border'>OTL</th>
                <th scope='col' class='p-2 border mobile-hidden'>Streak</th>
                <th scope='col' class='p-2 border'>Points</th>
                <th scope='col' class='p-2 border mobile-hidden'>Point %</th>
                <th scope='col' class='p-2 border mobile-hidden'>GPG</th>
                <th scope='col' class='p-2 border mobile-hidden'>GA</th>
                <th scope='col' class='p-2 border'>Rank</th>
                <th scope='col' class='p-2 border mobile-hidden'>Conf. Name</th>
                <th scope='col' class='p-2 border mobile-hidden'>Conf. Rank</th>
                <th scope='col' class='p-2 border mobile-hidden'>Div. Name</th>
                <th scope='col' class='p-2 border mobile-hidden'>Div. Rank</th>
                <th scope='col' class='p-2 border mobile-hidden'>Wildcard</th>
                <th scope='col' class='p-2 border'>Next Game</th>
                <th scope='col' class='p-2 border'>Next Opponent</th>
            </tr>
        </thead>
        <tbody>
            <% teams.each do |team| %>
                <% 
                row_class = if team['divisionSequence'].to_i <= 3
                              'color-bg-success-emphasis color-fg-on-emphasis mr-1'
                            elsif team['wildcardSequence'].to_i.between?(1, 2)
                              'color-bg-attention-emphasis color-fg-on-emphasis mr-1'
                            elsif team['wildcardSequence'].to_i.between?(3, 4)
                              'color-bg-severe-emphasis color-fg-on-emphasis mr-1'
                            else
                              'color-bg-danger-emphasis color-fg-on-emphasis mr-1'
                            end
                next_game_utc = next_games[team['teamAbbrev']['default']] ? next_games[team['teamAbbrev']['default']]['startTimeUTC'] : nil
                next_game_pacific = next_game_utc ? convert_utc_to_pacific(next_game_utc) : 'TBD'
                %>
                <tr class='<%= row_class %> <%= manager_team_map[team['teamName']['default']].nil? ? 'no-fan-name' : '' %>'>
                    <td class='p-2 border'><%= team['teamName']['default'] %></td>
                    <td class='p-2 border'><%= manager_team_map[team['teamName']['default']] || 'N/A' %></td>
                    <td class='p-2 border'><%= team['wins'] %></td>
                    <td class='p-2 border'><%= team['losses'] %></td>
                    <td class='p-2 border'><%= team['otLosses'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['streakCode'] %></td>
                    <td class='p-2 border'><%= team['points'] %></td>
                    <td class='p-2 border mobile-hidden'><%= '%.2f' % (team['pointPctg'] * 100) %>%</td>
                    <td class='p-2 border mobile-hidden'><%= team['goalsForPctg'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['goalAgainst'] %></td>
                    <td class='p-2 border'><%= team['leagueSequence'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['conferenceName'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['conferenceSequence'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['divisionName'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['divisionSequence'] %></td>
                    <td class='p-2 border mobile-hidden'><%= team['wildcardSequence'] %></td>
                    <td class='p-2 border'><%= next_game_pacific != 'TBD' ? next_game_pacific.strftime('%-m/%-d %H:%M') : 'TBD' %></td>
                    <td class='p-2 border'><%= next_games[team['teamAbbrev']['default']] ? (next_games[team['teamAbbrev']['default']]['awayTeam']['abbrev'] == team['teamAbbrev']['default'] ? next_games[team['teamAbbrev']['default']]['homeTeam']['placeName']['default'] : next_games[team['teamAbbrev']['default']]['awayTeam']['placeName']['default']) : 'TBD' %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <span class="IssueLabel color-bg-success-emphasis color-fg-on-emphasis mr-1">Playoff bound</span>
    <span class="IssueLabel color-bg-attention-emphasis color-fg-on-emphasis mr-1">Playoff Contender</span>
    <span class="IssueLabel color-bg-severe-emphasis color-fg-on-emphasis mr-1">Wildcard hopeful</span>
    <span class="IssueLabel color-bg-danger-emphasis color-fg-on-emphasis mr-1">Not in playoff contention</span>
    <div class="border-top border-bottom border-gray-light mt-3 pt-3">
    <button id='toggleButton' class='btn btn-primary color-bg-accent-emphasis color-fg-on-emphasis mr-1'>Toggle Teams Without Fans</button>
    <button id='toggleStatsButton' class='btn btn-primary color-bg-accent-emphasis color-fg-on-emphasis mr-1'>Toggle Extended Stats</button>

<script>
    document.getElementById('toggleButton').addEventListener('click', function () {
        var noFanRows = document.querySelectorAll('.no-fan-name');
        noFanRows.forEach(function (row) {
            row.style.display = (row.style.display === 'none') ? 'table-row' : 'none';
        });
    });

    document.getElementById('toggleStatsButton').addEventListener('click', function () {
    var statColumns = document.querySelectorAll('.mobile-hidden');
    statColumns.forEach(function (column) {
        column.style.display = (column.style.display === 'none') ? 'table-cell' : 'none';
        });
    });
</script>
</body>
</html>
